contourpy
cycler
fonttools
importlib_resources
kiwisolver
llvmlite
matplotlib
matrixprofile
numba
numpy
opencv-python
packaging
pandas
pillow
protobuf
pyparsing
python-dateutil
pytz
scipy
six
stumpy
tzdata
zipp
